/**
 * Primary style definitions.
 *
 * @package turtle
 * @author Andrew Sliwinski <andrew@diy.org>
 */

/**
 * Body definitions
 */
body {
    margin: 0px;

    color: #222;
    background-color: #fff;

    font-family: 'PT Sans Narrow', Helvetica, sans-serif;
    font-size: 14px;
}

h1, h2 {
    margin: 0px 0px 4px 0px;
    font-weight: 300;
    text-transform: uppercase;
}

p {
    margin: 0px 0px 20px 0px;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 0.9em;
}

button {
    display: block;
    float: left;

    width: 34px;
    height: 34px;
    margin: 0px 2px;
    padding: 0px;

    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;

    background-color: #fff;
}

input {
    padding: 2px 2px;
    border: none;
    outline: none;
    border-radius: 4px;
}

/**
 * ID definitions
 */
#network, #user, #command, #turtle {
    display: block;
    position: absolute;

    width: 2880px;
    height: 1800px;
}

#input {
    display: block;
    position: fixed;

    width: 608px;
    height: 30px;
    top: 0%;
    left: 50%;

    margin: 20px 0px 0px -328px;
    padding: 22px 23px 25px 25px;
    background-color: #efefef;
    border-radius: 4px;
}

#input input {
    display: block;
    position: relative;
    float: left;

    width: 564px;
    height: 30px;
    margin-right: 2px;

    border-radius: 1px;
    outline: none;
    
    font-family: 'PT Sans Narrow', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    text-transform: uppercase;
}

#reference {
    height: 200px;
    top: 100px;
}

/**
 * Class definitions
 */
.cmd {
    display: block;
    position: absolute;
    cursor: pointer;

    height: 20px;
    margin: -10px 0px 0px -10px;
}

.cmd .detail {
    display: none;
    position: relative;

    height: 20px;
    margin: -30px 0px 0px 22px;
    padding: 4px 4px 4px 4px;
    overflow: visible;

    background-color: #f9f94f;
    font-size: 1.2em;
}